
<div class="header d-flex align-items-center justify-content-end">
    <a  [routerLink]="['/cart']" [queryParams]="{ courses: _id }" style="padding: 5px;margin-right: 2vw; position:relative;">
        <svg xmlns="http://www.w3.org/2000/svg" height="26" width="38" viewBox="0 0 576 512">
            <path
                d="M528.1 301.3l47.3-208C578.8 78.3 567.4 64 552 64H159.2l-9.2-44.8C147.8 8 137.9 0 126.5 0H24C10.7 0 0 10.7 0 24v16c0 13.3 10.7 24 24 24h69.9l70.2 343.4C147.3 417.1 136 435.2 136 456c0 30.9 25.1 56 56 56s56-25.1 56-56c0-15.7-6.4-29.8-16.8-40h209.6C430.4 426.2 424 440.3 424 456c0 30.9 25.1 56 56 56s56-25.1 56-56c0-22.2-12.9-41.3-31.6-50.4l5.5-24.3c3.4-15-8-29.3-23.4-29.3H218.1l-6.5-32h293.1c11.2 0 20.9-7.8 23.4-18.7z" />
        </svg>
        <span *ngIf="addedItems>0"
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{addedItems}}
            <span class="visually-hidden">unread messages</span>
        </span>
    </a>
</div>
<br>
<div class="container">
    <div class="row ">
        <div class="col-md-12 text-center">
            <h3>Let's expand the ambit of your skills.</h3>
        </div>
    </div><br><br>
    <div class="row">
        
        <div class="col-md-4 mb-4" *ngFor="let course of coursesArray">
            <div class="card" style="width: 18rem;">
                <img src="{{course.image}}" class="card-img-top" alt="{{course.courseName}} image"
                    style="width: 10vh; height: 10vh; margin: auto; margin-top: 2vh;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{course.courseName}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <p style="color: red; font-weight: bolder;">Price: {{course.price}}</p>
                    <button (click)="addToCart($event,course.id)" class="btn btn-success btn-sm">Add to Cart</button>
                
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>